#menu-4 .navbar-toggler {
  color: #000;
}
#menu-4 .nav-link {
  font-size: 18px;
}
#header2-6 H1 {
  text-align: right;
}
#content5-g .mbr-section-title {
  text-align: center;
}
#content5-h .mbr-section-title {
  text-align: center;
}
#testimonials1-j .mbr-section-title {
  text-align: right;
}
#testimonials1-j .card-block {
  text-align: left;
}
#content5-l .mbr-section-title {
  text-align: center;
}
#menu-13 .navbar-toggler {
  color: #000;
}
#menu-13 .nav-link {
  font-size: 18px;
}
#content1-15 DIV {
  font-size: 12px;
}
#content1-15 P {
  font-size: 20px;
}
#menu-r .navbar-toggler {
  color: #000;
}
#menu-r .nav-link {
  font-size: 18px;
}
#content1-t B {
  font-size: 32px;
}
#content1-t DIV {
  font-size: 20px;
}
